<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - CSVibe</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/favicon.png') }}">
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>

<body>
    <div id="loader-modal" class="modal hidden">
        <div class="modal-content">
            <div class="spinner"></div>
            <div id="loader-text">Processing file…</div>
        </div>
    </div>
    <div class="toast-container" id="toast-container"></div>
    <header>
        <div class="header-line"></div>
        <div class="header-cont">
            <div class="header-title">
                <a href="{{ url_for('index') }}">
                    <h1>CSVibe</h1>
                </a>
            </div>
            <div class="burger-btn">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="https://github.com/asphodel42/CSVibe" target="_blank">GitHub</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="page">
            {% block content %}
            {% endblock %}
        </section>
    </main>

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% endblock %}
</body>

</html>